<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt-br">
<head>
  <title>Footer</title>
</head>
<body>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark" th:fragment="footer">
  <div class="container">
    <div class="d-flex justify-content-center w-100">
                  <p class="text-center text-sm text-gray-500">
                &copy; || 2025@r4cs || Todos os direitos reservados ||
            </p>
    </div>
  </div>
</nav>
</body>
</html>